*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
    
h1 {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  background-color: red;
  color: white;
  height: 50px;
 font-size: 50px;
}

#banner img{
    width: 100%;
    height: 800px;
}
#circulos img{
border-radius: 50%;
height: 200px;
width: 200px;
margin-left: 100px;
position: relative;
left: 150px;
top: 450px;

}
#circulos a:hover {
  filter: grayscale(100%);

}

p{
  text-align: center;
  height: 60px;
 color: white;
}
 ol li {
 text-align: center;
 }
 #textos{
  font-size: 25px
}

  h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: red;
    color: white;
  }
  

body {
  background-image: url(raivel\ farma.jpg);
height: max-content;
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}
#remedios img {
  border-radius: 50%;
  height: 200px;
width: 200px;
margin-left: 50px;
position: relative;
left: 50px;
top: 500px;

}